<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bask.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content" class="container">
    <style>
    *{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.fab-label {
    padding: 2px 5px;
    align-self: center;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 20px;
    background: #666666;
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}
.fab-container {
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 999;
    cursor: pointer;
}


    </style>

    <div class="fab-container">
        <span id="basket" class="fab-label">0</span></div>
    <a href="#" class="float">
        <i class="fas fa-shopping-basket my-float"></i>
    </a>

    <script>
    function addTheValue(secondValue) {
        var fValue = document.getElementById("basket");
        basket.innerHTML = parseInt(fValue.innerHTML) + parseInt(secondValue);
    }
    </script>


    <div class="row row-cols-4 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img
                        src="croissants.jpg" height="400px" width="70px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">SALTED EGG LAVA CROISSANT</h5>
                    <p class="card-text">
                        Homemade Salted Egg Lava Croissant.This hot flaky soft croissant oozing with warm, creamy and golden salted egg custard.

                    </p>
                    <p class="font-weight-bolder" style="float:left">80 ฿</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>

                </div>
                <div class="card-footer">
                    <small class="text-muted"> MUST TRY!!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="donut.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">DONUT</h5>
                    <p class="card-text">
                        Original donut with icing.Soft and perfectly textures.



                    </p>
                    <p class="font-weight-bolder" style="float:left">40 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (Per piece)</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)" >ORDER</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="sandwitch.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">SANDWICH</h5>
                    <p class="card-text">
                        A sandwich is a food typically consisting of vegetables,
                        sliced cheese or meat, placed on or between slices of bread,
                        or more generally any dish wherein bread serves as a container or wrapper for another food type.
                    </p>
                    <p class="font-weight-bolder" style="float:left">70 ฿ </p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="cuupcake.jpg" height="400px" width="70px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">CHOCCO CUPCAKE</h5>
                    <p class="card-text">
                        Chocolate cupcake on top with dark chocolate and soft cream.
                    </p>
                    <p class="font-weight-bolder" style="float:left">65 ฿ </p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="strawcupcake.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">STRAWBERRY CUPCAKE</h5>
                    <p class="card-text">
                        Fresh Strawberry Cupcakes are moist, tender and delicious!
                        There are chopped strawberries in the cupcake and strawberry buttercream!
                    </p>
                    <p class="font-weight-bolder" style="float:left">75 ฿ </p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="lemonpie.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">
                        LEMON MERINGUE PIE</h5>
                    <p class="card-text">
                        Lemon meringue pie is a type of dessert pie,
                        consisting of a shortened pastry base filled with lemon curd and topped with meringue.
                    </p>
                    <p class="font-weight-bolder" style="float:left">110 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (Per piece)</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">ON TREND</small>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="cake1.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">BERRY CAKE</h5>
                    <p class="card-text">
                        Berry cake with strawberry and cranberry on top.Soft and fresh ,Classic cake of Million Square.
                    </p>
                    <p class="font-weight-bolder" style="float:left">470 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (1 pound )</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="cakecho2.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">CHOCOLATE CAKE</h5>
                    <p class="card-text">
                        Dark chocolate cake on top with strawberry ,raspberry and blueberry.
                    </p>
                    <p class="font-weight-bolder" style="float:left">520 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (1 pound )</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">BEST SELLER!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="brownies.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">BROWNIE</h5>
                    <p class="card-text">
                        Best Fudgiest Brownies. Brown sugar,unsweetened cocoa powder and large chocolate.
                    </p>
                    <p class="font-weight-bolder" style="float:left">120 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (Per 3 pieces)</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">BEST SELLER!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="biscuit.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">BISCUIT</h5>
                    <p class="card-text">
                        Christmas biscuit.Simply vanilla biscuits cut out in Christmas shapes and iced.
                    </p>
                    <p class="font-weight-bolder" style="float:left">60 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (Per 2 pieces)</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="magaroon.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">MINT MACARON</h5>
                    <p class="card-text">
                        Soft and sweet French magarons .One bite, and you’ll feel like you’re in Paris yourself.
                    </p>
                    <p class="font-weight-bolder" style="float:left">140 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (Per 3 pieces)</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">NEW FLAVOUR</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="magaroon2.jpg" height="400px" width="180px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">MACARON</h5>
                    <p class="card-text">
                        Soft and sweet classic French magarons .One bite, and you’ll feel like you’re in Paris yourself.
                    </p>
                    <p class="font-weight-bolder" style="float:left">120 ฿ </p>
                    <p class="font-italic" style="float:left-bottom"> (Per 3 pieces)</p>
                    <a href="#" class="btn btn-outline-success" style="float:right" onclick="addTheValue(1)">ORDER</a>
                </div>
            </div>
        </div>

    </div>



</div>