<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <div class="row row-cols-4 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img
                        src="croissants.jpg" height="400px" width="70px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">SALTED EGG LAVA CROISSANT</h5>
                    <p class="card-text">
                        Homemade Salted Egg Lava Croissant.This hot flaky soft croissant oozing with warm, creamy and golden salted egg custard.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> MUST TRY!!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="donut.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">DONUT</h5>
                    <p class="card-text">
                        This card has supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="sandwitch.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">SANDWICH</h5>
                    <p class="card-text">
                        A sandwich is a food typically consisting of vegetables,
                        sliced cheese or meat, placed on or between slices of bread,
                        or more generally any dish wherein bread serves as a container or wrapper for another food type.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="cuupcake.jpg" height="400px" width="70px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">CHOCCO CUPCAKE</h5>
                    <p class="card-text">
                        Chocolate cupcake on top with dark chocolate and soft cream.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="strawcupcake.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">STRAWBERRY CUPCAKE</h5>
                    <p class="card-text">
                        Fresh Strawberry Cupcakes are moist, tender and delicious!
                        There are chopped strawberries in the cupcake and strawberry buttercream!
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="lemonpie.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">
                        LEMON MERINGUE PIE</h5>
                    <p class="card-text">
                        Lemon meringue pie is a type of dessert pie,
                        consisting of a shortened pastry base filled with lemon curd and topped with meringue.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">ON TREND</small>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="cake1.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">BERRY CAKE</h5>
                    <p class="card-text">
                        Berry cake with strawberry and cranberry on top.Soft and fresh ,Classic cake of Million Square.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="cakecho2.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">CHOCOLATE CAKE</h5>
                    <p class="card-text">
                        Dark chocolate cake on top with strawberry ,raspberry and blueberry.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">BEST SELLER!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="brownies.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">BROWNIE</h5>
                    <p class="card-text">
                        Best Fudgiest Brownies. Brown sugar,unsweetened cocoa powder and large chocolate.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">BEST SELLER!</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="biscuit.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">BISCUIT</h5>
                    <p class="card-text">
                        Christmas biscuit.Simply vanilla biscuits cut out in Christmas shapes and iced.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="magaroon.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">MINT MACARON</h5>
                    <p class="card-text">
                        Soft and sweet French magarons .One bite, and you’ll feel like you’re in Paris yourself.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">NEW FLAVOUR</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img
                        src="magaroon2.jpg" height="400px" width="120px"
                        class="card-img-top"
                        alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">MACARON</h5>
                    <p class="card-text">
                        Soft and sweet classic French magarons .One bite, and you’ll feel like you’re in Paris yourself.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>