<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<div class="container"  layout:fragment="content">
    <h1 th:text="${stocks}"></h1>
    <p>Hello, How are you doing?</p>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Id Product</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock:${allProducts}">
            <td th:text="${stock.productId}">
            <td th:text="${stock.productName}">
            <td  th:text="${stock.price}">
            <td  th:text="${stock.balance}">
            <td>
                <div class="w3-show-inline-block">
                    <div class="w3-bar" style="display:flex ; justify-content:center ; align-items:center ;">
                        <a style="width:70px ; margin-right:15px" class="btn btn-primary"
                           th:href="@{/stock/edit/{id}(id=${stock.productId})}">Edit</a>
                        <form th:action="@{/stock/delete/{id}(id=${stock.productId})}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>